.Category {
    align-items: center;
    background: #FFF;
    border-radius: 19px;
    color: #391400;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 38px;
    margin-bottom: 23px;
    margin-left: 28px;
    width: max-content;
    padding: 0px 16px;
    z-index: 2;
}