.Effect {
    overflow: hidden;
}

.Container {
    align-items: flex-start;
    border-radius: 6px;

    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 720px;
    padding-bottom: 51px;
    position: relative;
    transition: all 1.1s ease;

    &:hover {
        transform: scale(1.03);
        z-index: 99;
    }

    @media (max-width: 426px) {
        min-height: 416px;
    }

    @media (max-width: 769px) {
        min-height: 416px;
    }


}