.backContainer {
    align-items: center;
    display: flex;
    gap: 14px;
    margin-bottom: 49px;

    a {
        &:active {
            color: #391400;
        }
    }

    a:first-child {
        margin-top: 2px;
    }

    .backContainer__text {
        color: #391400;
        font-size: 12px;
        font-weight: 800;
        margin-top: 2px;
    }
}