.serie {
    display: flex;
    flex-direction: column;
    padding: 49px 135px 77px 135px;

    .image {
        border-radius: 6px;
    }

    @media screen and (max-width: 769px) {
        padding: 96px 23px 83px 23px;
    }

}