.home {
  padding: 176px 135px 80px 135px;

  @media (max-width: 426px) {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 32px;
    padding: 128px 23px 48px 23px;
  }
}