.title {
    color: #EF6D58;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 32px;
    margin-bottom: 16px;
    text-transform: uppercase;

    @media screen and (max-width: 769px) {}

    @media screen and (max-width: 426px) {}
}